<!DOCTYPE html>
{% load static %}
<html>
  <head>
    <meta charset="utf-8" />
    <title>ECharts</title>
    <!-- 引入刚刚下载的 ECharts 文件 -->
    <script src="{% static 'js/echarts.js' %}"></script>
  </head>
  <body>
    <!-- 为 ECharts 准备一个定义了宽高的 DOM -->
    <div id="main" style="width: 500px;height:400px;"></div>
              <script type="text/javascript">
                var myChart = echarts.init(document.getElementById("main"));
                var x_axis_data=[];   
                {% for x in shang_time %}
                  x_axis_data.push({{x}})
                {% endfor %}
                var option = {
                  xAxis: {
                    type: "category",
                    boundaryGap: false,
                    data:x_axis_data,
                    axisLine: {
                      lineStyle: {
                        color: "#000000"
                      }
                    }
                  },
                  yAxis: [
                    {
                      type: "value",
                      min:2000,
                      max:3000,
                      axisLine: {
                        lineStyle: {
                          color: "#000000"
                        }
                      },
                      splitLine: {
                        //网格线
                        show: false
                      }
                    }
                  ],
                  series: [
                    {
                      data:{{shang_value}},
                      type: "line",
                      areaStyle: {
                        color: "white"
                      },
                      lineStyle: {
                        color: "green"
                      }
                    }
                  ],
                  dataZoom: [
                    {
                      id: 'dataZoomX',
                      type: 'inside',
                      xAxisIndex: [0],
                      filterMode: 'none',
                      start: 25,
                      end: 50,
                    }
                  ]}
                // 使用刚指定的配置项和数据显示图表。
                  myChart.setOption(option);
              </script>
  </body>
</html>